$bg_gradient_1: #FFFFFF;
$bg_gradient_2: #EDF8FF;
$bg_gradient_3: #FFFFFF;
$bg_break_point: 80%;

body{
    background: url('/engg4030/images/normal-background.jpg') no-repeat; /* Old browsers */
    background: url('/engg4030/images/normal-background.jpg') no-repeat, -moz-linear-gradient(top,  $bg_gradient_1 0%, $bg_gradient_2 $bg_break_point, $bg_gradient_3 100%); /* FF3.6+ */
    background: url('/engg4030/images/normal-background.jpg') no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bg_gradient_1), color-stop($bg_break_point,$bg_gradient_2), color-stop(100%,$bg_gradient_3)); /* Chrome,Safari4+ */
    background: url('/engg4030/images/normal-background.jpg') no-repeat, -webkit-linear-gradient(top,  $bg_gradient_1 0%,$bg_gradient_2 $bg_break_point,$bg_gradient_3 100%); /* Chrome10+,Safari5.1+ */
    background: url('/engg4030/images/normal-background.jpg') no-repeat, -o-linear-gradient(top,  $bg_gradient_1 0%,$bg_gradient_2 $bg_break_point,$bg_gradient_3 100%); /* Opera 11.10+ */
    background: url('/engg4030/images/normal-background.jpg') no-repeat, -ms-linear-gradient(top,  $bg_gradient_1 0%,$bg_gradient_2 $bg_break_point,$bg_gradient_3 100%); /* IE10+ */
    background: url('/engg4030/images/normal-background.jpg') no-repeat, linear-gradient(to bottom,  $bg_gradient_1 0%,$bg_gradient_2 $bg_break_point,$bg_gradient_3 100%); /* W3C */
}
