.toc-holder {
    position: fixed;
    width: 18%;
    min-width: 360px;
    a {
        text-decoration: none;
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -o-transition: all .7s ease;
        -ms-transition: all .7s ease;
        transition: all .7s ease;
    }
    li li a {
        padding-left: 60px;
    }
    li li li a {
        padding-left: 90px;
    }
    li a:hover {
        background: #666;
        padding-left: 35px;
    }
    li li a:hover {
        padding-left: 65px;
    }
    li li li a:hover {
        padding-left: 95px;
    }
    a.toc-link {
        color: white;
        position: relative;
        display: block;
        z-index: 20;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        width: 100%;
        background: #444;
    }
    a.toc-link:hover {
        background: #666;
    }
}


.toc-link span {
	font-size: 16px;
	margin-right: 5px;
	display: inline-block;
	-webkit-transition: -webkit-transform .4s ease;
	-moz-transition: -moz-transform .4s ease;
	-o-transition: -o-transform .4s ease;
	-ms-transition: -ms-transform .4s ease;
	transition: transform .4s ease;
}

.toc-link span.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.toc {
	position: absolute;
	z-index: 10;
	width: 103%;
	background: #222;
	padding: 40px 0 20px 0;
}

.toc-h1,.toc-h1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.toc-h1 a {
	color: white;
	padding: 5px 20px 5px 30px;
	display: block;
}

.closed {
	display: block;
}

.top-link {
	display: block;
	text-decoration: none;
	position: fixed;
	bottom: 0;
	right: 2%;
	color: white;
	background: #222;
	padding: 8px 16px 0 16px;
	height: 30px;
	font-size: 14px;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

@media (max-width: 480px) {
	
	.toc-holder {
		left: 0;
		right: 0;
	}

	.toc-link {
		width: 150%;
	}
	
	.toc {
		width: 155%;
	}
	
	.top-link {
		top: 2px;
		z-index: 20;
		background: none;
	}
	
}
