$base_size: 20px;

body {
    font-size: $base_size;
    font-family: Helvetica, Arial, 'Open Sans', sans-serif;
    padding: 5px;
}

header {
    div.maintitle {
        text-align: center;
        font-size: 2.5em;
    }
}

article {
    .index {
        /*text-align: center;*/
        @media (min-width: 50em){
            width: 30em;
            margin: 0 auto;
        }
        ul {
            list-style: none;
            li {
                border-left: 1px solid;
                border-bottom: 1px solid;
                margin: 10px;
                padding: 5px 10px;
                box-shadow: 0 5px 5px 0px #ddd;
                border-bottom-left-radius: 5px;
            }
        }
    }
}

footer {
    margin-top: 5px;
    padding-top: 5px;
    border-top-color: #ddd;
    border-top-width: 1px;
    border-top-style: solid;
    color: #bbb;
    font-size: 0.9em;
    img {
        display: inline; 
        margin: 0;
        height: 0.9em;
        border-width: 0;
    };
}
