.toc-holder {
  position: fixed;
  width: 18%;
  min-width: 360px; }
  .toc-holder .toc {
    position: absolute;
    z-index: 10;
    width: 100%; }
  .toc-holder .toc-button {
    z-index: 11; }
  .toc-holder a {
    text-decoration: none;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease; }
  .toc-holder ul {
    margin-top: 1.5em;
    list-style: none;
    padding: 0; }
  .toc-holder .toc-h2 a {
    padding-left: 1em; }
  .toc-holder .toc-h3 a {
    padding-left: 2em; }
  .toc-holder .toc-h4 a {
    padding-left: 3em; }
  .toc-holder a.toc-link {
    line-height: 1.5em;
    background: #777;
    color: white;
    position: relative;
    display: block;
    z-index: 20;
    width: inherit; }
    .toc-holder a.toc-link span {
      font-size: 1em;
      margin-right: 5px;
      display: inline-block;
      -webkit-transition: -webkit-transform 0.4s ease;
      -moz-transition: -moz-transform 0.4s ease;
      -o-transition: -o-transform 0.4s ease;
      -ms-transition: -ms-transform 0.4s ease;
      transition: transform 0.4s ease; }
      .toc-holder a.toc-link span.rotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    .toc-holder a.toc-link:hover {
      background: #666; }

.closed {
  display: block; }

#shortcut {
  position: fixed;
  bottom: 0;
  right: 0.5em; }
  #shortcut a {
    display: block;
    float: right;
    text-decoration: none;
    color: white;
    background: rgba(34, 34, 34, 0.7);
    padding: 4px 8px 4px 8px;
    margin: 0 1px;
    font-size: 0.9em;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0; }

@media (max-width: 480px) {
  .toc-holder {
    left: 0;
    right: 0;
    width: inherit; }
  .toc {
    width: 155%; }
  #shortcut {
    z-index: 20;
    background: none;
    padding: 0;
    top: 0; }
    #shortcut a {
      background: none; } }

@media print {
  .toc-holder {
    display: none; }
  .toc {
    display: none; }
  #shortcut {
    display: none; } }
